/** @format */
/** @format */
/** @format */
/** @format */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
  text-decoration: none;
  outline: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 1.5px; }

.container {
  overflow: hidden; }

/** @format */
@keyframes lantern-float {
  0% {
    transform: translateZ(30rem);
    opacity: 1; }
  20% {
    transform: translateZ(-100rem) translateY(-30rem) rotate(40deg);
    opacity: 0.8; }
  50% {
    transform: translateZ(-500rem) translateY(100rem) rotate(-30deg);
    opacity: 0.7; }
  70% {
    transform: translateZ(-1200rem) translateY(-250rem) translateX(500rem) rotate(30deg);
    opacity: 0.4; }
  80% {
    transform: translateZ(-900rem) translateY(-250rem) translateX(350rem) rotate(-20deg);
    opacity: 0.6; }
  100% {
    transform: translateZ(-1700rem) translateY(-500rem) translateX(650rem) rotate(-10deg);
    opacity: 0; } }

/** @format */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10rem;
  height: calc(100vh - 7rem);
  background-image: url("../../img/bg_lantern.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #f9f7f6;
  text-shadow: 0.6rem 0.8rem 2rem #ff8400;
  position: relative;
  perspective: 100rem; }
  .header__title--main {
    font-size: 8rem;
    line-height: 8.5rem; }
  .header__title--sub {
    font-size: 5rem;
    margin-top: 2rem; }
  .header__img {
    width: 35%;
    animation: lantern-float 30s infinite; }
