/** @format */

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-column {
  @include center;
  flex-direction: column;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin contents-padding {
  padding: 3rem 10%;
}

@mixin before(
  $content,
  $color,
  $bg-color,
  $border-radius,
  $transform,
  $transition
) {
  content: $content;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $bg-color;
  color: $color;
  z-index: 1;
  border-radius: $border-radius;
  transform: $transform;
  transition: $transition;
}

@mixin btnSearch($col) {
  border: 2px solid $col;
  color: $col;

  &:hover {
    box-shadow: 0 0.5em 1em -0.3em $col;
    transform: translateY(-0.4rem);
  }
}
