/** @format */

// COLOR VARIABLES

$color-black: #00070e;
$color-white: #f9f7f6;

$color-grey-light: rgb(235, 232, 232);
$color-grey-medium: rgb(147, 146, 146);
$color-grey-dark: rgb(70, 70, 70);

$color-blue-dark: #082032;

$color-orange-medium: #ff8400;

$color-pink-medium: #ef4f4f;

// PASTEL COLOR
$color-pastel-orange: #ffa260;
$color-pastel-yellow: #e4cb58;
$color-pastel-green: #8fc866;
$color-pastel-purple: #a972cb;
$color-pastel-pink: #ef6eae;
$color-pastel-red: #ff7f82;
$color-pastel-green-dark: #19bc8b;
