/** @format */

.contact {
  background-color: $color-white;
  width: 100%;
  height: auto;
  font-family: 'Work Sans', sans-serif;

  @include center-column;

  &__contents {
    width: 70%;
    padding: 1rem;
    border-radius: 1rem;

    @include center;
    perspective: 100rem;

    &:hover > div {
      transform: rotateY(0);
      transition: transform 0.7s ease-in-out;
    }
  }

  &__left {
    // background-color: yellow;
    height: 45rem;
    width: 50%;
    color: $color-black;

    display: flex;
    align-items: center;
    justify-content: right;

    transform: rotateY(20deg);
    transition: transform 0.7s ease-in-out;
  }

  &__right {
    // background-color: green;
    height: 45rem;
    width: 50%;
    border-radius: 1rem;
    transform: rotateY(-20deg);
    transition: transform 0.7s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: left;
  }

  &__info {
    // width: 80%;
    width: 40rem;
    min-width: 40rem;
    height: 41rem;
    margin-right: 2rem;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: orange;
    box-shadow: -2.5rem 2rem 3rem #aaa;
  }

  &__title {
    font-size: 2.4rem;
    margin: 2rem 0 1rem;

    &--social {
      margin-top: 5rem;
      margin-bottom: 0;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem 1.5rem;

    &.sns {
      fill: $color-blue-dark;

      &:hover {
        fill: white;
      }
    }
  }

  &__form {
    // width: 80%;
    width: 40rem;
    min-width: 40rem;
    height: 41rem;
    padding: 0 10%;
    margin-left: 2rem;

    box-shadow: 2.5rem 2rem 3rem #aaa;
    border-radius: 1rem;

    @include center-column;

    background-color: $color-blue-dark;
  }
}

.input {
  &__control {
    position: relative;
    width: 100%;
    margin-top: 1rem;
  }

  &__text {
    width: 100%;
    background-color: transparent;
    padding: 1rem 0;
    margin-bottom: 2rem;
    border: 2px solid white;
    border-width: 0 0 2px 0;
    font-size: 1.5rem;
    color: white;

    &:focus {
      outline: none;
      border-bottom-color: orange;

      & + label span {
        color: orange;
        transform: translateY(-30px);
      }
    }

    &:valid {
      outline: none;
      border-bottom-color: orange;

      & + label span {
        color: orange;
        transform: translateY(-30px);
      }
    }
  }

  &__label {
    position: absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    font-size: 1.5rem;
    color: white;

    span {
      display: inline-block;
      min-width: 5px;
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}

// RESPONSIVE
@media (min-width: 450px) and (max-width: 850px) {
  .contact {
    &__contents {
      padding: 1rem;
      border-radius: 1rem;

      @include center-column;
      perspective: 100rem;
    }

    &__left,
    &__right {
      transform: rotateY(0);
      align-items: center;
      justify-content: center;
    }

    &__info,
    &__form {
      margin: 0;
      box-shadow: 2.5rem 2rem 3rem #aaa;
    }
  }
}

@media (max-width: 449px) {
  .contact {
    width: 100%;
    &__contents {
      padding: 1rem;
      border-radius: 1rem;

      @include center-column;
      perspective: 100rem;
    }

    &__left,
    &__right {
      width: 35rem;
      transform: rotateY(0);
      align-items: center;
      justify-content: center;
    }

    &__info,
    &__form {
      margin: 0;
    }
  }
}
