/** @format */

.header {
  @include center;

  width: 100%;
  padding: 10rem;
  height: calc(100vh - 7rem);
  // background-image: url('../../img/bg_lantern.jpg'); // For local
  // background-image: url('img/bg_lantern.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Shippori Antique B1', sans-serif;
  color: $color-white;
  text-shadow: 0.2rem 0.2rem 1rem black, 0.3rem 0.3rem 2rem black,
    0.4rem 0.4rem 3rem black, 0.6rem 0.6rem 4rem black;
  position: relative;
  perspective: 100rem;

  &__text {
    margin-left: -15rem;
  }

  &__title {
    &--main {
      font-size: 7rem;
      line-height: 8.5rem;
    }

    &--sub {
      font-size: 6rem;
      margin-top: 3rem;
    }
  }

  &__img {
    width: 35%;
    animation: lantern-float 190s infinite;
  }
}
