/** @format */

.skills {
  @include center-column;
  background-color: white;
  width: 100%;

  &__contents {
    @include contents-padding;
    // max-width: 1900px;
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200rem;
  }

  img {
    // height: 15rem;
    // margin: 7rem;

    height: 15rem;
    margin: 4rem;
  }
}

.skills__icon {
  &--html {
    width: 11.5rem;
  }

  &--sass {
    width: 20rem;
    height: 10rem;
  }

  &--node {
    width: 20rem;
    height: 10rem;
  }

  &--express {
    width: 25rem;
    height: 10rem;
  }

  &--mongodb {
    width: 25rem;
    height: 10rem;
  }

  &--firebase {
    width: 18rem;
    height: 15rem;
  }

  &--arduino {
    width: 18rem;
    height: 10rem;
    padding-bottom: 13px;
  }

  &--github {
    width: 18rem;
    height: 12rem;
  }

  &--jira {
    width: 20rem;
    height: 11rem;
    border-radius: 10px;
  }

  &--pwf {
    width: 20rem;
    height: 12rem;
    border-radius: 10px;
  }
}
