/** @format */

.skills {
  @include center-column;
  background-color: white;
  background-color: black;

  width: 100%;

  &__contents {
    @include contents-padding;
    // max-width: 1900px;
  }

  &__icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90rem;
    margin-top: -4rem;
  }

  img {
    height: 15rem;
    margin: 4rem;
  }

  &__title {
    &--main {
      margin-top: -1rem;
    }
    color: white;
    font-size: 6rem;
    padding-bottom: 5rem;
    font-family: 'Shippori Antique B1', sans-serif;
    margin-top: 10rem;
    text-align: center;
  }
}

.skills__icon {
  width: 15rem;
  height: 8rem;
  font-size: 2rem;
  border: 5px solid;
  font-weight: 700;
  margin-top: 4rem;
  font-family: 'Work Sans', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: none;
  }

  &--jira {
    width: 20rem;
    height: 11rem;
    border-radius: 10px;
  }

  &--pwf {
    width: 20rem;
    height: 12rem;
    border-radius: 10px;
  }
}
