/** @format */

.testimonial {
  background-color: #ffa500;
  padding-bottom: 20rem;
  height: auto;
  font-family: 'Work Sans', sans-serif;

  @include center-column;

  &__contents {
    position: relative;
    width: 100%;
    min-width: 35rem;
    padding-bottom: 5rem;
    overflow: hidden;

    @include center-column;
    align-items: start;
    @include contents-padding;
  }

  &__wrapper {
    width: 500%;
    margin-bottom: 2rem;
    transition: 1s;
    @include space-between;
    // background-color: red;
  }

  &__card {
    width: 100%;
    margin-right: 5%;
    background: $color-white;
    border-radius: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background-color: $color-grey-light;

    @include center;

    &--top {
      width: 100%;
      height: auto;
      position: relative;

      padding: 4rem 6rem;

      @include center-column;

      &.t2,
      &.t3,
      &.t4 {
        padding: 5rem 15rem;
      }
    }

    &--review {
      width: 100%;
      font-size: 1.7rem;
    }

    &--bottom {
      margin-top: 4rem;
      @include center;
    }

    &--img {
      width: 7rem;
      height: 7rem;
      border-radius: 50rem;
      border: 3px solid white;
      object-fit: cover;

      &.chloe {
        transform: scale(1.48);
      }
    }

    &--name {
      font-weight: 600;
      margin: 2rem;
      @include center-column;

      span {
        border-radius: 0.5rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }

      & > small {
        font-size: 1.3rem;
        letter-spacing: 0.11rem;
      }
    }
  }

  &__indicators {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    button {
      background: none;
      border: none;
      outline: none;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      border: 2px solid $color-blue-dark;
      cursor: pointer;
      margin-left: 0.5rem;
      transition: 0.5s;

      &.active {
        width: 4rem;
        border-radius: 5rem;
        background: $color-blue-dark;
      }
    }
  }
}

.chloe {
  width: 8rem;
  height: 8rem;
  background-color: oldlace;
  border-radius: 50rem;
  border: solid 4px white;
  overflow: hidden;

  @include center;
}

.fa-quote-left {
  font-size: 2.5rem;
  margin-right: 1rem;
  color: crimson;
  transform: rotate(15deg);
}

.fa-quote-right {
  font-size: 2.5rem;
  margin-left: 1rem;
  color: crimson;
  transform: rotate(-15deg);
}

@media (max-width: 767px) {
  .testimonial {
    display: none;
  }
}
