/** @format */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 1.5px;
  // background-color: black;
}

.container {
  // overflow: hidden;
}

.main {
  width: 75%;
  // background-color: red;
  margin: auto;
}

.section {
  padding: 15rem 0;
  font-family: 'Open Sans', sans-serif;

  &__title {
    font-size: 6rem;
    padding-bottom: 5rem;
  }
}
