/** @format */

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &--open {
    background-color: orange;
    padding: 1.5rem;
    border-radius: 50%;
    border: 5px solid white;
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 2;
  }

  &--close {
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 3;

    &:hover {
      animation: btn-wave 3s infinite;
    }
  }

  &__medium {
    margin: 2rem;
    padding: 1.5rem 6rem;
    background-color: white;
    font-size: 1.8rem;
    font-weight: bolder;
    color: $color-blue-dark;
    border-radius: 5rem;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  &--toDown {
    &::before {
      @include before(
        'Yeah~',
        orange,
        $color-blue-dark,
        5rem,
        translateY(100%),
        all 0.6s
      );
      @include center;
    }

    &:hover::before {
      transform: translate(0);
    }
  }

  &--toUp {
    &::before {
      @include before(
        'Thank you!!',
        orange,
        $color-blue-dark,
        5rem,
        translateY(-100%),
        all 0.6s
      );
      @include center;
    }

    &:hover::before {
      transform: translate(0);
    }
  }
}
