/** @format */

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &--open {
    background-color: orange;
    padding: 1.5rem;
    border-radius: 50%;
    border: 5px solid white;
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 2;
  }

  &--close {
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 3;

    &:hover {
      animation: btn-wave 3s infinite;
    }
  }

  // Button Sizes
  &--medium {
    margin: 2rem;
    padding: 1.5rem 6rem;
    background-color: white;
    font-size: 1.8rem;
    font-weight: bolder;
    color: $color-blue-dark;
    border-radius: 5rem;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  &--small {
    background: transparent;
    border: 2px solid;
    font: inherit;
    font-size: 1.2rem;
    font-weight: border;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    border-radius: 50rem;
  }

  // About Section
  &--toDown {
    &::before {
      @include before(
        'Yeah~',
        orange,
        $color-blue-dark,
        5rem,
        translateY(100%),
        all 0.6s
      );
      @include center;
    }

    &:hover::before {
      transform: translate(0);
    }
  }

  &--toUp {
    &::before {
      @include before(
        'Thank you!!',
        orange,
        $color-blue-dark,
        5rem,
        translateY(-100%),
        all 0.6s
      );
      @include center;
    }

    &:hover::before {
      transform: translate(0);
    }
  }

  // Project Section - Input Buttons
  &--search {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    position: absolute;
    top: 3.7px;
    right: 0.5rem;
    height: 3rem;
    width: 3rem;
    transition: transform 0.3s ease;
    border-radius: 50rem;
  }

  // Project Section - Search Buttons
  &--orange {
    @include btnSearch(#ffa260);
  }

  &--yellow {
    @include btnSearch(#e4cb58);
  }

  &--green {
    @include btnSearch(#8fc866);
  }

  // Project Section - Card Backside Buttons
  &--back {
    margin-top: 3rem;
    margin-right: 1rem;
    margin: 3rem 0.5rem 0 0.5rem;
    background-color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: none;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  // Contact Section
  &--contact {
    width: 100%;
    margin: 2rem 0;
    padding: 1rem 0;
    background-color: white;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    transition: background-color 1s ease;

    &:hover {
      background-color: orange;
    }

    &:active {
      transform: scale(0.97);
    }
  }
}
